* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
header {
    background-color: #2f4f4f;
    padding: 16px 0;
    color: #fff;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
}
header button {
    margin-left: 16px;
}
form {
    background-color: #e1e8e8;
    padding: 24px 0;
    text-align: center;
    display: none;
}
form h2 {
    margin-bottom: 16px;
}
input, button {
    padding: 8px;
}
button {
    background-color:#b6a8a8;
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
#button-cancelar {
    background-color: #ff0000b0;
}
ul {
    display: flex;
    flex-wrap: wrap;
}
ul li {
    max-width: 25%;
    list-style-type: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}
ul li img {
    width: 100%;
}
.overlay-image-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease 0.7s;
}
.overlay-image-link a {
    text-decoration: none;
    color: #fff;
}
ul li:hover .overlay-image-link  {
    opacity: 1;
}